{% extends 'userBase.html.twig' %}
{% block title %}Menu Review | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-primary text-center" role="alert">
                    <strong><h5>Hier kan je een review over dit item achterlaten</h5><small>LET OP! HET IS NIET ANONIEM.</small></strong>
                </div>
            </div>
        </div>
        <div class="row symfony_review_form">
            <div class="col-md-5">
                <img src="{{ asset('img/menu/'~menuItem.picture) }}" alt="{{ menuItem.name }}" class="rounded" width="300" height="200">
                <h4 class="mt-4 font-weight-bold">{{ menuItem.name }}</h4>
                <h6 class="mt-3">{{ menuItem.description }}</h6>
            </div>
            <div class="col-md-7">
                {{ form_start(menuReview) }}
                    <div class="form-group">
                        {{ form_row(menuReview.message) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(menuReview.stars) }}
                    </div>
                    <div class="form-group">
                        <input class="btn" type="submit" value="Send">
                    </div>
                {{ form_end(menuReview) }}
            </div>
        </div>
    </div>
{% endblock %}
