{% extends 'adminBase.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_start(addItemForm) }}
                        <div class="form-group">
                            {{ form_row(addItemForm.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(addItemForm.description) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(addItemForm.price) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(addItemForm.picture) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(addItemForm.category) }}
                        </div>
                        <div class="form-group">
                            <input class="btn" type="submit" value="Voeg toe">
                        </div>
                    {{ form_end(addItemForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}