{% extends 'adminBase.html.twig' %}
{% block title %}Edit Item | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-primary text-center" role="alert">
                    <strong>Pas hier het menu item aan</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="symfony_edit_item_form">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.price) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.picture) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.category) }}
                    </div>
                    <div class="form-group">
                        <input class="btn" type="submit" value="Opslaan">
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}