{% extends "adminBase.html.twig" %}
{% block title %} Home | Restaurant Berke {% endblock %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text_info">
                <strong><h5>Hey {{ app.user.name }}, how are you?</h5></strong><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis, ante quis lacinia eleifend,
                odio lacus dignissim purus, luctus finibus arcu elit eget orci. Ut quis vestibulum leo. Nullam
                quis sem lectus. Fusce finibus sit amet metus nec venenatis. Maecenas at volutpat tortor, at
                sollicitudin neque. Nunc elementum in dolor at pulvinar. Donec eget vulputate nunc, sit amet
                tincidunt ligula. Vestibulum hendrerit consequat leo. Morbi mi ligula, pulvinar at nisl in,
                efficitur ullamcorper quam. Donec ullamcorper purus neque, quis feugiat orci laoreet a. Sed
                sollicitudin vehicula interdum. Integer consectetur tortor ipsum, eget tempor velit varius bibendum.
                Sed feugiat eros metus, ultricies accumsan nisi pharetra sed. Nam auctor venenatis augue quis dignissim.

                In ac ligula faucibus, laoreet ante ac, laoreet lectus. Quisque nisl tellus, tincidunt vel sodales
                vel, blandit eu nunc. Nullam faucibus justo leo. Fusce mattis finibus nulla. In mauris lacus, volutpat
                porttitor leo accumsan, interdum mollis ipsum. Quisque ac ipsum libero. Nullam ornare, nisl a
                fringilla ornare, purus arcu porta elit, in fermentum sapien nunc eu massa. Morbi vitae fringilla nisi.
            </div>
        </div>
        <div class="col-md-6">
            <div id="main">
                <div class="row" style="padding:10px;">
                    <div class="img col-3">
                        <img src="" id="img">
                    </div>
                    <div class="content col" >
                        <h3 id="temp"></h3>
                    </div>

                    <div class="content col" id="name" >
                        <h3 id="tem">12</h3>
                    </div>
                </div>

                <div class="container" style=" color:#7f8fa6;">
                    <div class="row" style="padding:10px;">
                        <div class="col" style="font-size:13px; font-weight:bold;" id="max">
                            max:12
                        </div>
                        <div class="col" style="font-size:13px; font-weight:bold;" id="min">
                            min:12
                        </div>
                        <div class="col-5" style="font-size:13px; font-weight:bold;" id="feel">
                            Voelt aan als:12
                        </div>
                    </div>
                </div>
                <br>
                <h4 id="clock" class="text-center" onload="currentTime()"></h4>
            </div>
            <div class="container mt-4 ml-5">
                <table id="openingsTijdenTabel">
                    <tr>
                        <th scope="col" class="text-center h5 font-weight-bold">Dag</th>
                        <th scope="col" class="text-center h5 font-weight-bold">Tijd</th>
                        <th scope="col"></th>
                    </tr>
                    {% for info in openingstijden %}
                        <tr>
                            <td><strong class="mx-2">{{ info.day }}</strong></td>
                            <td><strong class="mx-2">{{ info.time }}</strong></td>
                            <td><a href="{{ path('admin_times', {id: info.id}) }}" class="btn btn-warning mx-4 my-1"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script src="{{ asset('/js/weather.js') }}"></script>
    <script src="{{ asset('/js/clock.js') }}"></script>
{% endblock %}