{%  extends 'adminBase.html.twig' %}
{% block title %}Leden | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info text-center" role="alert">
                    <strong>Er zijn {{ users|length }} geregistreerde leden</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Profiel</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tel</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  set count = 1 %}
                    {% for user in users %}
                    <tr>
                        <td>{{ count }}</td>
                        <td><img src="{{ asset('img/profile/'~user.picture) }}" class="profilePicture"></td>
                        <td><a href="{{ path('admin_member_profile', {id: user.id}) }}">{{ user.name }}</a></td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td><a href="tel:0{{ user.tel }}">0{{ user.tel }}</a></td>
                        <td><a href="{{ path('admin_delete_member', {id: user.id}) }}" class="btn btn-danger"><i class="fa-solid fa-user-xmark"></i> Verwijderen</a></td>
                    </tr>
                    {% set count = count + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}