{% extends 'adminBase.html.twig' %}
{% block title %}Orders | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Tel</th>
                        <th scope="col">Bestelling</th>
                        <th scope="col">Geplaatst op</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count=1 %}
                    {% for cart in carts %}
                        <tr>
                            <td>{{ count }}</td>
                            <td><a href="{{ path('admin_member_profile', {id: cart.user.id}) }}">{{ cart.user.name }}</a></td>
                            <td><a href="tel:0{{ cart.user.tel }}">0{{ cart.user.tel }}</a></td>
                            <td><a href="{{ path('admin_order', {id: cart.id}) }}"> Order number: {{ cart.id }}</a></td>
                            <td>{{ cart.updatedAt|date('H:i ~ d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('admin_complete_order', {id: cart.id}) }}" class="btn btn-warning"><i class="fa-solid fa-circle-check"></i> Afronden</a>
                            </td>
                        </tr>
                    {% set count= count+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}