{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="container">
            <h3 class="text-center">In dit categorie zijn er {{ items|length }} verschillende gerechten</h3><br>
            <div class="row gy-3">
                {%  for item in items %}
                    <div class=" col-12 col-md-6">
                        <div class="card text-center border-dark" style="width: 20rem;">
                            <div class="card-body">
                                <img src="../img/menu/{{ item.picture }}" class="card-img-top rounded" alt="{{ item.name }}" width="200px" height="175px">
                                <h4 class="card-title ">{{ item.name }}</h4>
                                <h6 class="card-text ">{{ item.description }}</h6>
                                <h6 class="card-text ">€{{ item.price }}</h6>
                            </div>
                        </div><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}