{% extends 'base.html.twig' %}
{% block title %}Menu Review | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row symfony_review_form">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_menu') }}">Categoriën</a></li>
                        <li class="breadcrumb-item"><a href="{{ path("app_item", {id: menuItem.category.id}) }}">Items</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ menuItem.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row symfony_review_form">
            <div class="col-md-5">
                <img src="{{ asset('img/menu/'~menuItem.picture) }}" alt="{{ menuItem.name }}" class="rounded mt-3 border-dark" width="300" height="200">
                <h4 class="mt-4 font-weight-bold">{{ menuItem.name }}</h4>
                <h5 class="mt-3">€ {{ menuItem.price }}</h5>
                <h6 class="mt-3">{{ menuItem.description }}</h6>
            </div>
            <div class="col-md-7">
                <h4 class="text-center font-weight-bold mb-3">
                    Reviews over {{ menuItem.name }}
                </h4>
                {% for review in reviews %}
                    <div class="card review_card border-dark mb-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                <img src="{{ asset('img/profile/'~review.user.picture) }}" width="40px" height="40px" class="rounded">
                                {{ review.user.name }}
                            </h4>
                            <h5 class="card-title">Review: {{ review.message }}</h5>
                            <h6 class="card-text">Cijfer: {{ review.stars }}</h6>
                            <small>Datum: {{ review.date |date('d-m-Y')}}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
