<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Berke</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body id="bdy">
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('user_home') }}">
                <img class="navLogo" src="/img/logo1.jpg" alt="Restaurant Berke">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="{{ path('user_home') }}"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('user_bestellen') }}"><i class="fa-sharp fa-solid fa-truck-fast"></i> Bestellen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('user_reserveren') }}"><i class="fa-solid fa-clock"></i> Reserveren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('user_review') }}"><i class="fa-sharp fa-solid fa-star"></i> Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('user_cart') }}"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Winkelwagen</a>
                    </li>
                    <li class="nav-item" tabindex="-1">
                        <div class="btn-group nav-item">
                            <button class="btn nav-link text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ asset('img/profile/'~ app.user.picture) }}" height="30px" width="30px" class="rounded"> {{ app.user.name }}
                            </button>
                            <ul class="dropdown-menu text-light active bg-secondary">
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="{{ path('user_profile') }}"><i class="fa-solid fa-user-gear"></i> Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/logout"><i class="fa-solid fa-user-slash"></i> Afmelden</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{# end of container with navbar#}

<div class="container-fluid px-0">
    <div class="jumbotron jumbotron-fluid" id="banner"></div>

    <div class="jumbotron jumbotron-fluid" id="statisticBanner"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for success in app.flashes('success') %}
                <div class="alert alert-info text-center font-weight-bold">
                    {{ success }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block body %}{% endblock %}
</body>
</html>