{% extends 'adminBase.html.twig' %}
{% block title %}Profile | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verified</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.isVerified }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('admin_member_reservations', {id: user.id}) }}" class="btn btn-info"><i class="fa-solid fa-clock-rotate-left"></i> Bekijk alle reserveringen</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('admin_member_orders', {id: user.id}) }}" class="btn btn-info"><i class="fa-solid fa-truck-fast"></i> Bekijk alle bestellingen</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('user_delete_profile', {id: user.id}) }}" class="btn btn-danger"><i class="fa-solid fa-user-xmark"></i> Profiel verwijderen</a>
            </div>
        </div>
    </div>
{% endblock %}