{% extends 'userBase.html.twig' %}
{% block title %}Order | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-primary text-center" role="alert">
                    <strong>Uw bestelling tot op in de details</strong>
                </div>
            </div>
        </div>
        <div class="row gy-3">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Afbeelding</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Totale prijs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if order.items %}
                        {% set number= 1 %}
                        {% set counter= 0 %}
                        {% for item in order.items %}
                            <tr>
                                <th>{{ number }}</th>
                                <th><img src="{{ asset('img/menu/'~item.product.picture) }}" alt="{{ item.product.picture }}" width="100" height="50px"></th>
                                <th>{{ item.product.name }}</th>
                                <th>&euro; {{ item.product.price }}</th>
                                <th>{{amount_array[counter]}}</th>
                                <th>&euro; {{ (item.product.price * amount_array[counter])|number_format(2, '.', ',')}}</th>
                            </tr>
                            {%  set counter= counter+1 %}
                            {% set number= number+1 %}
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th>Totale prijs:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>&euro; {{ order.totalPrice|number_format(2, '.', ',') }}</th>
                    </tr>
                    </tbody>
                </table>
                {% if order.discount %}
                    <div class="alert alert-warning text-center" role="alert">
                        <strong>Korting is toegepast!</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}