{% extends 'userBase.html.twig' %}
{% block title %}Bestellen | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Menu</h1>
        <div class="row">
            {% for menu in menus %}
                <div class="col-md-4">
                    <div class="card mb-4 border-dark">
                        <img src="../img/menu/{{ menu.picture }}" alt="{{ menu.name }}" class="card-img-top" width="200px" height="175px">
                        <div class="card-body">
                            <h5 class="card-title">{{ menu.name }}</h5>
                            <p class="card-text">{{ menu.description }}</p>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('user_productdetail', {id: menu.id}) }}" class="btn btn-dark">Bekijk</a>
                                <span class="h5 mt-auto">€{{ menu.price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}