{%  extends 'userBase.html.twig' %}
{% block title %}Restaurant Berke{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_start(profile_form) }}
                        <div class="symfony_edit_profile_form">
                            <div class="form-group">
                                {{ form_row(profile_form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(profile_form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(profile_form.tel) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(profile_form.picture) }}
                            </div>
                            <div class="form-group">
                                <input class="btn btn-warning" type="submit" value="Wijzigen">
                            </div>
                        </div>
                    {{ form_end(profile_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}