{% extends 'userBase.html.twig' %}
{% block title %}Profile | Restaurant Berke{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Profiel</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefoonnummer</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="{{ asset('img/profile/'~user.picture) }}" class="profilePicture rounded"></td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>0{{ user.tel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('user_reservations', {id: user.id}) }}" class="btn btn-info"><i class="fa-solid fa-clock-rotate-left"></i> Bekijk alle reserveringen</a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('user_orders', {id: user.id}) }}" class="btn btn-info"><i class="fa-solid fa-truck-fast"></i> Bekijk alle bestellingen</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('user_edit_profile') }}" class="btn btn-warning"><i class="fa-solid fa-user-pen"></i> Profiel aanpassen</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('user_edit_password') }}" class="btn btn-warning"><i class="fa-solid fa-user-lock"></i> Wachtwoord wijzigen</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('user_delete_profile', {id: user.id}) }}" class="btn btn-danger"><i class="fa-solid fa-user-xmark"></i> Profiel verwijderen</a>
            </div>
        </div>
    </div>
{% endblock %}